:root{
   --bg-text-color:  hsl(204, 43%, 93%);
   --bg-text-color-2: hsl(179, 62%, 43%);
   --bg-color: hsl(179, 54%, 50%);
   --button-text-color:  hsl(71, 73%, 54%);
   --text-color: hsl(218, 22%, 67%);
}

html{
   box-sizing: border-box;
}

*{
   box-sizing: inherit;
}

body{
   margin: 0;
   min-height: 100vh;
   font-family: Karla, sans-serif;
   font-size: 16px;
   display: grid;
   place-items: center;
   background-color: var(--bg-text-color);
}

.container{
   width: 300px;
   display: grid;
   grid-template-columns: 1fr;
   margin-top: 3rem;
   border-radius: 0.5rem;
   overflow: hidden;
   box-shadow: 0 10px 30px -10px var(--text-color);
}

.container__header,
.prices,
.about{
   padding: 1rem 1.5rem;
}

.container__header{
   background-color: #fdfdfc;
}

.container__title{
   color: var(--bg-text-color-2);
   font-size: 1.4rem;
}

.container__subtitle{
   color: var(--button-text-color);
   font-size: 1.2rem;
   line-height: 1.3rem;
}

.container__paragraph{
   color: var(--text-color);
   font-size: 0.9rem;
   word-spacing: 3px;
   line-height: 1.5rem;
}

.prices{
   background-color: var(--bg-text-color-2);
   color: var(--bg-text-color);
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.prices__title{
   font-size: 1.4rem;
}

.prices__subscription{
   line-height: 1rem;
   display: flex;
}

.prices__time{
   opacity: 0.8;
}

.prices__value{
   opacity: 1;
   font-size: 2rem;
   padding-right: 0.8rem;
}

.prices__link{
   display: block;
   background-color: var(--button-text-color);
   color: var(--bg-text-color);
   text-align: center;
   margin: 1.5rem auto;
   width: 90%;
   padding: 1rem;
   border-radius: 0.3rem;
   box-shadow: 0 0 10px -7px rgba(0,0,0,1);
   text-decoration: none;
}

.about{
   background-color: var(--bg-color);
   color: var(--bg-text-color);
}

.about__list{
   padding-left: 0.5rem;
   list-style: none;
}

.about__item{
   opacity: 0.9;
   margin-bottom: 0.3rem;
}

.footer{
   margin-top: auto;
   padding: 1.5rem;
   text-align: center;
}

.footer__profile{
   color: var(--text-color)
}

.footer__link{
   color: var(--button-text-color);
   text-decoration: none;
   opacity: 0.8;
}

@media (min-width: 375px) {
   .container{
      width: 350px;
   }
}

@media (min-width: 745px) {
   .container{
      width: 700px;
      grid-template-columns: 1fr 1fr;
   }
   
   .container__header{
      grid-column: span 2;
      padding: 2rem;
   }

   .prices{
      padding: 1rem 1.5rem;
   }
}

@media (min-width: 900px) {
   .prices__link:hover{
      text-decoration: underline;
   }
}